* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* font-family: 'Bungee Spice', sans-serif;
font-family: 'Poppins', sans-serif; */

body {
  background-color: #111113;
  font-family: 'Poppins', sans-serif;
  color: white;
}

h1 {
  font-family: 'Bungee Spice', sans-serif;
  font-size: 64px;
  text-align: center;
  margin: 20px;
}